[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]

[dev-packages]
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-cov = "*"
